.mod-news {
    .comments__main__title {
        margin-left: 20px;
        margin-top: 48px;
    }
    .comments {
        tbody {
            .comment__header {
                border-bottom: 1px solid @color-dividers;
                .comment__header__cell{
                    padding-top: 50px;

                }
                .comment__header__cell--title {
                    font-size: 22px;
                    color: @color-christi;
                    font-weight: 600;
                }
                .comment__header__cell--extra {
                    text-align: right;
                    font-size: 12px;
                    color:@color-plum1;
                }

            }
            .comment__text {
                border-bottom: 1px solid @color-plum1;
                .comment__text__cell {
                    text-align: left;

                }
                .comment__text__cell--content {
                    padding: 35px 0;
                }

            }
        }
    }



    table {
        tr {
            background-color: transparent !important;
            td {
                border: none!important;
            }
        }
        tr:hover {
            font-weight: normal !important;
        }
    }

    .post-top {
        border-bottom: 1px solid @color-plum2;
        color: @color-plum1;

        td {

        }

        a {
            color: @color-plum1;
        }


        .post-title {
            font-size: 19px;
            font-weight: 600;
        }

        .post-date {
            text-align: right;
            font-size: 14px;

        }
    }
    tr{
        .post-short {
            background-color: transparent;
            span {
                color: @color-plum1;
                font-size: 20px;
                a {
                    color: @color-plum1;
                }
            }
            p {
                text-align: left;
            }
        }
    }

}
