.global-massaging .full-width-gray {
  border-bottom: 1px solid #cacaca;
  background-color: #f2f2f2;
}
.global-massaging .full-width-gray > .container .container {
  width: 100%;
}
.global-massaging .full-width-white {
  border-bottom: 1px solid #cacaca;
  background-color: #ffffff;
}
.global-massaging .full-width-white > .container .container {
  width: 100%;
}
.global-massaging .header {
  margin-top: 30px;
  padding-bottom: 15px;
}
.global-massaging .slider-dots--holder .slick-dots {
  padding-top: 30px;
  list-style: none;
}
.global-massaging .slider-dots--holder .slick-dots li {
  float: left;
}
.global-massaging .slider-dots--holder .slick-dots li.slick-active button {
  background-color: #2b542c;
  color: #ffffff;
}
